<h1 id="register">アカウント登録</h1>


<%= form_for :user, url: '/users' do |f| %>
	<div id="new_user_form">
  	<table>
  		<tr>
  			<td>ユーザー名</td>
  			<td><%= f.text_field :name %><td/>
  		</tr>
  		<tr>
  			<td>メール</td>
  			<td> <%= f.email_field :email %></td>
  		</tr>
  		<tr>
	  		<td>パスワード</td>
  			<td><%= f.password_field :password %></td>
  		</tr>
   		<tr>
	   		<td>パスワード確認</td>
   			<td><%= f.password_field :password_confirmation %></td>
   		</tr>
			<!-- <tr>
				<td>admin</td>
				<td><%= check_box 'admin', 'boolean_attribute', {}, 'true', 'false' %></td>
			</tr> -->
   		<tr>
  			<td><%= f.submit "送信" %></td>
  		</tr>
  	</table>
  	</div>
<% end %>
