<div id="profile_wrapper">

  <!-- @user.name が出てくるところをsassで「sanbika_blue」にすること -->

  <% if current_user == @user %>
    <%= @user.name%>さん、お帰りなさい<br/>
    <%= link_to "プロフィルの編集", edit_user_path(current_user) %>
  <% else %>
    <%= @user.name %>さんのページへようこそ
  <% end %>

  <br/><br/>

  今の気分：　<%= @user.status %>

  <br/><br/>

  <div id="user_song_list">

    <%= @user.name %>さんの賛美歌チャート<br/>

    <br/>

    <% if current_user == @user %>
      賛美歌チャートの<%= link_to "新規作成", new_user_song_path(@user) %><br/>
    <% end %>

    <br/>

    <%# リレーション・オブジェクトでは上手くsortされなかったのでRubyの方でやりました %>
    <%# とにかくこれをヘルパーメソッドにしたいと思う、できたら %>
    <% array = [] %>
    <% @songs.each do |song| %>
      <% array << song.title_yomikata %>
    <% end %>
    <% array = array.sort %>

    <br/>
    <% array.each do |title| %>
      <%= title %><br/>
    <% end %>
    <%# 読み方の中に空白を入れると配列が上手くソートされないので、songs/new.html.erbの中で空白をしないようにと %>


    <% i = 0 %>
    <% @songs.length.times do %>
      <% @songs.each do |song| %>
        <% if song.title_yomikata == array[i] %>
          <%= link_to song.title, url_for([@user, song]) %><br/>
        <% end %>
      <% end %>
        <% i += 1 %>
    <% end %>

    <!-- gem kaminari でページネーション -->
    <br/>
  </div>

  <br/><br/>

  <% if current_user == @user %>
    <%= link_to "アカウントの削除", @user, method: :delete, data: { confirm: "本当に削除しますか？作った歌のチャートも一緒に削除されます。" } %>
  <% end %>

</div>
