<div id="profile_wrapper">

  <!-- @user.name が出てくるところをsassで「sanbika_blue」にすること -->
  <span id="show_user_name"><%= @user.name %></span>
  <% if current_user == @user && current_user.admin == true %>
    <p>あなたはadminです</p>
  <% end %>

  <br/>

  <!-- 今の気分：-->　<%# @user.status %>

  <% if current_user %>
    <% if current_user == @user || current_user.admin == true %>
      <!-- <span class="glyphicon glyphicon-pencil"></span> を入れること -->
      <%= link_to '<span class="glyphicon glyphicon-pencil"></span> チャートの新規作成'.html_safe,
                  new_user_song_path(@user),
                  class: 'btn btn-primary' %><br/>
    <% end %>
  <% end %>
  <br/>

  <div class="panel panel-default">
    <div class="panel panel-heading">
      <h2><%= @user.name %>さんの賛美歌チャート</h2>
    </div>

<div class="container-fluid bg-1 text-center">
  <div class="row">
    <table id="home-page-charts">
    <% array = order_songs(@songs) %>
    <% i = 0 %>
    <% if @songs.length == 0 %>
      <br/><p>賛美歌チャートはありません</p>
    <% else %>
      <% @songs.length.times do %>
        <% @songs.each do |song| %>
          <% if song.title_yomikata == array[i] %>

          <tr>
            <td><%= link_to song.title, url_for([@user, song]), class: 'btn btn-primary btn-lg outline home-page-charts' %><br/></td>
          </tr>

          <% end %>
        <% end %>
        <% i += 1 %>
      <% end %>
    <% end %>
  </table>
  </div>
</div>

    <!-- gem kaminari でページネーション -->
    <br/>
  </div>

  <br/><br/>
  <% if current_user %>
    <% if current_user == @user || current_user.admin == true %>
      <%= link_to "アカウントの削除", @user, method: :delete, data: { confirm: "本当に削除しますか？作った歌のチャートも一緒に削除されます。" } %>
    <% end %>
  <% end %>

</div>
