<% notes = Notes() %> <!-- 音符の取得 -->

<div id="song_form_wrapper">

  <%= form_for([@user, @song]) do |f| %>

    <% if @song.key != nil %>
      <% selected_key = @song.key %> <%# editの場合 %>
    <% else %>
      <% selected_key = "C" %> <%# newの場合 %>
    <% end %>

    <table>
      <tr>
        <td>曲名</td>
        <td><%= f.text_field :title, :id => "song_title_form" %></td>
      </tr>
      <tr>
        <td>読み方</td>
        <td><%= f.text_field :title_yomikata %></td>
      </tr>
      <tr>
        <td>作曲者</td>
        <td><%= f.text_field :artist %></td>
      </tr>
      <tr>
        <td>読み方</td>
        <td><%= f.text_field :artist_yomikata %> </td>
      </tr>
      <tr>
        <td>キー</td>
        <td><%= f.select(:key, options_for_select(notes[0], :selected => selected_key)) %></td>
      </tr>
    </table>

    <div id="explanation_wrapper">
      <div id="explanation">
        歌のタイトルとタイトルの読み方がなければ、チャートが保存されないのでご注意ください。<br/>
        チャートは4000文字までです。<br/>


        チャートの作り方：
        <ul>
          <li>転調が上手く動くには、コードを「*」で囲みます。例：「*C*   *Am*   *G*  *F*」</li>
          <li>実際に保存するとすべての「*」が消えますので、保存した上でご確認ください</li>
          <li>また、キーが間違っているとコードの転調も上手く動作されないので、キーは間違いがないかご確認ください</li>
          <li>フラット記号を書くには小文字の「b」か日本語のキーボードで「♭」を書きます</li>
          <li>シャープ記号を書くには「#」か日本語のキーボードで「♯」を書きます</li>
        </ul>
      </div>
    </div>

    <div id="song_form_continuation">
      <%= f.text_area :body, :id => "song_chart" %><br/>

      <!-- 動画のリンク: <%# f.text_field :video %><br/> -->

      <%= f.submit "保存" %>
    </div>

  <% end %>

</div>
