<script>
// *で囲まれたコードの<span></span>化
// 次の関数に対して、 「window.onload = function Replace() { ... }」を使うのではなくて、
// 下にある jquery の方を使う
// turbolinksのためにそれをする
// http://stackoverflow.com/questions/35245735/rails-turbolinks-issues-with-window-onload
function replace_stars () {

  var body = document.getElementById("body");
  var re = /\*/g;
  var re2 = /\*/; //よく分からないけど、これで var stars の定義をしようとしたら、４個しか帰ってきてなかった
  var stars = body.innerHTML.match(re);
  // console.log(stars);
  // console.log(stars.length);
  for (var i = 1; i <= stars.length; i++) {
    var true_star_index = i;
    //console.log(true_star_index);
    if (true_star_index % 2 == 1) {
    body.innerHTML = body.innerHTML.replace(re2, "<span class=\"chord\">");
    //console.log(body.innerHTML);
  } else if(true_star_index % 2 == 0){
      body.innerHTML = body.innerHTML.replace(re2, "</span>");
      //console.log(body.innerHTML);
    }
  }
  var chords = document.getElementsByClassName("chord");

  for (var i = 0; i < chords.length; i++) {
    // 「b」を書くと「♭」に変換されて、「#」を書くと「♯」に変換される
    if (/b/.test(chords[i].innerHTML)) {
      chords[i].innerHTML = chords[i].innerHTML.replace(/b/, "♭");
    } else if (/#/.test(chords[i].innerHTML)) {
      chords[i].innerHTML = chords[i].innerHTML.replace(/#/, "♯");
    }
    chords[i].setAttribute("name", chords[i].innerHTML);
  }
}

$(document).ready(replace_stars)
$(document).on('page:load', replace_stars);
$(document).on('turbolinks:load', replace_stars);

</script>

<div id="song_wrapper">
  <h1 id="song_title"><%= @song.title %></h1>
  <p>作曲者：<%= @song.artist %></p>
  <!-- <span id="chord_holder"></span> -->
  <span id="original_key"><%= @song.key %></span><br/> <!-- visibility: hidden か <input type="hidden"/> -->
  <% notes = Notes() %>
  <%= select_tag(:key_select,  options_for_select(notes[0], @song.key), :onchange => "trigger();", :id => 'key_select') %>
  <div id="body"><%= simple_format(@song.body) %></div>
  チャートの作成：<%= link_to @user.name + "さん", @user, :id => 'user_link' %>
  <p><%= @song.video %></p>

  <%= link_to "歌の印刷", action: "print" %><br/>

  <% if current_user %>
    <% if current_user == @user || current_user.admin == true %>
      <%= link_to "歌の編集", edit_user_song_path(@user, @song) %><br/>
      <%= link_to "歌の削除", [@user, @song], method: :delete, data: { confirm: "本当に削除しますか？" } %>
    <% end %>
  <% end %>
</div>
