<!DOCTYPE html>
<html>
<head>
  <title>賛美歌</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= tinymce_assets %>
</head>
<body>

<!-- navbarは次のリンクを参考に -->
<!-- https://www.youtube.com/watch?v=qpWlaOeGZ_4 -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <%= link_to "賛美歌", {controller: 'home', action: 'index'}, class: 'navbar-brand' %>
    <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
      <span class="icon-bar"></span><!-- これか「♪」でもいいかなww -->
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse navHeaderCollapse">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><%= link_to '<span class="glyphicon glyphicon-home"></span>'.html_safe +  " #{current_user.name}さん", current_user %></li>
          <li><%= link_to '<span class="glyphicon glyphicon-new-window"></span> ログアウト'.html_safe, '/logout' %></li>
        <% else %>
          <li><%= link_to '<span class="glyphicon glyphicon-user"></span> ログイン'.html_safe, '/login' %></li>
          <li><%= link_to '<span class="glyphicon glyphicon-pencil"></span> アカウント登録'.html_safe, '/signup' %></li>
        <% end %>
        <li><%= link_to "<span class=\"glyphicon glyphicon-info-sign\"></span> 情報".html_safe, {controller: "home",action: "info"} %></li>
      </ul>
    </div>
  </div>
</nav>

<div id="main_wrapper">
  <% if flash.now[:danger] %>
    <div class="alert alert-danger">
      <%= flash.now[:danger] %>
    </div>
  <% elsif flash.now[:success] %>
    <div class="alert alert-success text-center">
      <%= flash.now[:success] %>
    </div>
  <% end %>
  <%# flash.each do |key, value| %>
    <%#= content_tag(:div, value, class: "flash") %><%# 前は class: "#{key}" でした %>
  <%# end %>

  <%= yield %>
</div>

<div class="footer"></div><!-- これを変えたいけど、一応cssの方ではyieldとページの下と間を置くためだ -->

</body>
</html>
